@import "variables.less";

h1 {
    .h1-style();
}

p {
    .text-style();
}



header {
    display: flex;
    background-color: @yellow;
    justify-content: space-between;

    nav {
        background-color: @yellow;
        padding: 2%;

        .nav-link {
             color: @black;
             .nav-style();
         }

         ul {
             list-style-type: none;
             display: flex;
             align-items: flex-start;
             padding-left: 0%;
         }

         ul li {
             padding-left: 5%;
         }
        
    }
         
}



        @media (min-width: 992px) {
            header {
                display: block;
                margin: 0 auto;
            }

        }

.legacy {
    .img-fluid {
    .hero-image();
}

        .row{
            button {
                .btn-primary();
                .btn();
            }

            button:hover {
                .btn-primary-hover();
            }
        }

        
        
        .hero {
            display: flex;
            justify-content: center;
            width: 30%;
            padding-top: 5%;
            padding-bottom: 2%;

        }
        
        .imgwrap {
           width: 50%; 
           margin: auto;
        }
        .imgwrap img {
           display: block;
           width: 100%;
           max-width: 500px; 
           height: auto; 
           margin: auto; 
        }
        

        
            .bun {
              
            }

            .boss {
                
            }
        

   
}


footer {
    background-color: @black;

    img {
        width: 30%;
        padding: 3%;
    }
    .logo-4 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .imgwrap {
         width: 50%; 
         margin: auto;
      }
      .imgwrap img {
         display: block;
         width: 100%;
         max-width: 500px; 
         height: auto; 
         margin: auto; 
      }

}

